body {
	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

h1 {
	font-weight: bold;
	color: #e97676;
}

h5 {
	font-style: italic;
	margin-bottom: 0px;
}

.container.section:before {
	content: '';
	display: block;
	width: 80%;
	height: 3px;
	background-color: #e1edef;
	margin: 30px 10% 30px 10%;
}

.container.section .title, .container-fluid.section .title {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

#header.navbar {
	background-color:#fff;
	max-height: 120px;
	// Animation
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 0px;
	padding-bottom: 0px;
}

#header .navbar-brand {
	padding-left: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#header .navbar-brand>img {
	max-height: 120px;
}

#header.navbar.shrink {
	background-color: #e1edef;
	max-height: 70px;
}

#header.navbar.shrink .navbar-brand>img {
	max-height: 70px;
}

#header.navbar .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 14px;
    font-weight: bold;
    color: #91B0B7;
}

#header.navbar .navbar-nav .nav-link.active {
	color: #5e8791;
}

@media (min-width: 768px) {
	#header.navbar .navbar-nav {
		display: table-cell;
	    vertical-align: middle;
	    text-align: right;
	    padding-right: 40px;
	    height: 70px;
	}

	#header.navbar .navbar-nav .nav-link {
		padding-top: 45px;
		padding-left: 15px;
		padding-right: 15px;
	}

	#header.navbar.shrink .navbar-nav .nav-link {
		padding-top: 25px;
	}
}

@media (max-width: 768px) {
	#header.navbar .navbar-nav {
		width: 150px;
	}

	#header.navbar .navbar-nav .nav-item {
		width: 100%;
		float: none;
		background-color: #fcfcfc;
		text-align: right;
		margin-left: 0px;
		padding-right: 10px;
	}

	#header.navbar .navbar-nav .nav-item:hover {
		background-color: #eee;
	}
}

#header.navbar .navbar-toggler {
	padding-top: 25px;
}

@media (max-width: 840px) {
	#header.navbar {
		background-color: #e1edef;
		max-height: 70px;
	}

	#header.navbar .navbar-brand>img {
		max-height: 70px;
	}

	#header.navbar .navbar-nav .nav-link {
		padding-top: 25px;
	}
}

#home {
	background-color: #e1edef;
	padding-top: 80px;
}

#home .carousel-item img {
	width: 100%;
}

#meet {
}

#meet .meet-side-img {
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
}

@media (max-width: 465px) {
	#meet .meet-side-img {
		width: 200px;
	}
}

#services .row:before {
	content: '';
	display: block;
	width: 40%;
	height: 1px;
	background-color: #ccc;
	margin: 30px 30% 30px 30%;
}

#services .row h2, #services .row h5 {
	font-family: 'Playfair Display', sans-serif;
	font-style: italic;
}

#services .row h2 {
	font-weight: bold;
}

#services .row .pink {
	color: #e97676;
}

#services .row .green {
	color: #76e9c7;
}

#contact {
	background-color: #e1edef;
	padding: 30px 0px;
}

#contact h3, #contact h5, #contact p {
	width: 100%;
	text-align: center;
	margin: 3px;
	padding-bottom: 15px;
}

#contact h3 {
	color: #3ab890;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

#contact h5 {
	color: #da4444;
	font-weight: bold;
	font-style: italic;
}

#blog {
	background-color: #e1edef;
	padding-top: 140px;
	height: 500px;
}
